<h3>Node Information</h3>
<form [formGroup]="updateNodeInfoForm" (ngSubmit)="onSubmit()">
    <div class="dataOfNode">
        <kendo-formfield showErrors="initial">
            <kendo-label for="node-title" [text]="'Node Title'"></kendo-label>
            <kendo-textbox formControlName="nodeTitle" [clearButton]="true" #nodeTitle
                [(ngModel)]="nodeTitleValue"></kendo-textbox>
            <kendo-formerror *ngIf="updateNodeInfoForm.controls.nodeTitle.errors?.required">Error: Node Title is required</kendo-formerror>
            <kendo-formerror *ngIf="updateNodeInfoForm.controls.nodeTitle.errors?.pattern">Error: Node Title should be non-special characters (!,@,#,...) and be between 3 and 20 characters long.</kendo-formerror>
        </kendo-formfield>
        <kendo-formfield showErrors="initial" class="dropdown">
            <kendo-label [for]="'nodeType'" [text]="'Node Type'"></kendo-label>
            <kendo-dropdownlist formControlName="nodeType" #nodeType [data]="types" [(ngModel)]="nodeTypeValue"
                [disabled]="dropdownDisabled">
            </kendo-dropdownlist>
            <kendo-formerror *ngIf="updateNodeInfoForm.controls.nodeType.errors?.required">Error: Node type is
                required</kendo-formerror>
        </kendo-formfield>
    </div>
    <div class="attributes">
        <attribute-component 
            [currentNodeId]="currentNodeId"
            [submitStatus]="submitStatus"
            [dataGrid]="dataGrid">
        </attribute-component>
    </div>
    <div class="button">
        <button mat-button primary type="submit"
            [disabled]="!updateNodeInfoForm.valid || !updateNodeInfoForm.dirty">Save</button>
    </div>
</form>