kendo-grid {
    width: 500px;
}

kendo-dropdownlist {
    width: 90px;
}

kendo-formerror {
}

kendo-textbox {
    width: 200px;
}

kendo-label {
    margin-bottom: 5px;
}

kendo-formfield {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}